:root {
	--bgblue: #143D59;
}

html {
	height: 100vh; 
	width: 98vw; 
}

body {
	display: flex;
	min-height: 95vh;
	flex-direction: column; 
	width: 98vw; 
}

h2 {
	background-color: var(--bgblue);
	color:white; 
	text-align: center; 
	margin: 0; 
	border-radius: 10px 10px 0px 0px; 
	padding: 5px; 
}

.accounts {
	margin-left: 1vw;
	display: grid; 
	grid-template-columns: 1fr;  
}

.accountButton {
	width: 10.5vw; 
	padding: 10px; 
	margin-top: 3vh; 
	border: 1px solid black;
	background-color: var(--bgblue);
	color: white; 
}

.accountForm {
	margin-top: 1vh; 
	display: grid; 
	justify-items: center; 
	grid-template-columns: auto; 
}

.accountForm label,input,button,select {
	width: 10vw; 
}
.create {
	border: 1px solid black; 
	border-radius: 10px; 
	width: 24vw;
	padding-bottom: 1vh; 
	margin-bottom: 3vh; 
}

.delete {
	border: 1px solid black; 
	border-radius: 10px; 
	width: 24vw;
	padding-bottom: 1vh; 
	margin-bottom: 3vh; 
}

.padform {
	padding-bottom: 10px; 
}

.update {
	border: 1px solid black; 
	border-radius: 10px; 
	width: 24vw;
	padding-bottom: 1vh;
	margin-bottom: 3vh;  
}