.cart {
	height: 75vh; 
	box-sizing: border-box; 
	position: absolute; 
	border-left: 1vw solid #EA563C; 
	background-color: white; 
	margin-right: 1vw;
	width: 19vw;  
	overflow-y: scroll;
    scrollbar-width: none;  
    -ms-overflow-style: none; 
    display: grid; 
    grid-template-rows: 10% 80% auto; 
}
.total {
	align-self: end; 
	box-sizing: border-box; 
	position: sticky; 
	bottom: 0; 
	padding-bottom: 2vh;
	padding-left: 1vw; 
	font-weight: 500; 
	width: 17vw; 
	display: grid;
	grid-template-columns: 1fr 1fr; 
}