body {
	padding: 0px; 
	margin: 0px; 
	font-family: "Segoe UI", sans-serif
}

a:link {
	text-decoration: none; 
}
a:visited {
	color: white; 
}
a:hover {
	color: #6CB4EE; 
}

.nav {
	width: 100%; 

}

.header-ul{
	display: flex; 
	list-style-type: none; 
	margin-top: 5vh; 
	margin-left: 0px; 
	background-color: #143D59;
	color: white; 
	padding: 1vh; 
	text-transform: uppercase; 
}


.header-li {
	padding: 10px; 
}

input:invalid {
	color:red
}; 