body {
	font-family: "Segoe UI", sans-serif;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}

.header {
	background-color: #143D59;
	height: 150px;
}

.banner {
	background-color: #143D59;
	height: 10px;
}

.login-form {
    margin: 0 auto;
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

}

.footer {
	background-color: #143D59;
	color: #ffffff;
	text-align: center;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
}
