body {
    font-family: "Segoe UI", sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #143D59;
    height: 150px;
}

.banner {
    background-color: #143D59;
    height: 10px;
}

.login-form-container {
    display: grid;
    justify-items: center;
}

.login-form {
    margin-top: 1vh;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

.grid-container > div {
    text-align: center;
}

.footer {
    background-color: #143D59;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
