body {
    font-family: "Segoe UI", sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 94vh;
    width: 99vw;
}

h2 {
	background-color: #143D59;  
	color: white; 
	text-align: center; 
	width: 12vw;  
	padding-bottom: 1vh;  
	margin: 0; 
	border-radius: 5px 5px 0px 0px;  
	margin-bottom: 1vh; 
}

.fullscreen {
    min-height: 94vh;
}

.header {
    height: 150px;
    display: flex;
    color: white;
    padding-left: 1vw; 
}

.banner {
    background-color: #143D59;
    height: 2vh;
}

.login-form {
	padding: 0px; 
	margin: 0px; 
}

.login-form-container {
    display: grid;
    justify-items: center;
    border: 1px solid black;
    padding: 0px; 
    border-radius: 10px;
    width: 12vw; 
    margin-left: 45vw; 
    margin-top: 10vh; 
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    width: 100%; 
}

.grid-container>div {
    text-align: center;
}

.login-button {
    background-color: #143D59;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 1vh; 
}

.padForm {
	margin-bottom: 1vh; 
}

.login-button:hover {
    background-color: navy;
}