.head {
	background-color:#EA563C;
	box-sizing: border-box;
	display: grid; 
	grid-template-columns: 20% 60% 20%; 
	
}
.header {
	height: 15vh; 	
	padding-left: .75vw; 
	padding-top: 1vh;
	padding-bottom: 1vh; 
	box-sizing: border-box;

}

.label {
	margin:0px;
	padding:0px; 
	align-self: center; 
	font-size: 7vh; 
	font-weight: 700; 
	font-family: "Passion One", sans-serif;
	text-align: center;
}