body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-image {
    width: 100%;
    height: 94%;
    position: relative;
}

.bgimg {
	width: 100%;
	height: 100%; 
	object-fit: cover; 
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center; /* Vertically center items */
    color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    padding: 0 10px; /* Adjusted padding for the footer */
}

.footer-content {
    display: flex;
    flex: 0.6; /* Take up remaining space */
    justify-content: space-between; /* Distribute items evenly */
    align-items: center;
}

.copyright {
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    text-align: left; 
}

.continue-button {
    font-family: "Segoe UI", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #143D59;
    border: none;
    color: white;
    padding: 6px 9px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.continue-button:hover {
    background-color: #6CB4EE;
}