.totalright {
	justify-self: right;  
}

.orderItems {
	margin-left: 1vw; 
	width: 100%; 
 	overflow-y: scroll; 

}

.cartHeader {
	margin-bottom: 0; 
}

.shoppingCart {
	width: 17vw; 
	display: grid; 
	grid-template-columns: auto auto; 
	padding-bottom: .75vh; 
}

.cartCost {
	justify-self: right; 
	margin-right: 2vh; 
	max-height: min-content;
}
.cartItem {
	max-height: min-content;

}

.subCost {
	justify-self: right; 
	margin-right: 2vh; 
	max-height: min-content;
	text-transform: italics; 
}

.cartSub {
	margin-left: 1vh; 
}

.subFont{
	font-size: 11px; 
}