.cart {
	height: 75vh; 
	position: relative; 
	border-left: 1vw solid #EA563C; 
	background-color: white; 
	margin-right: 1vw; 
}
.total {
	position: absolute; 
	bottom: 0;
	left: 0; 
	padding-bottom: 2vh;
	padding-left: 1vw; 
	font-weight: 500; 
}