html {
    font-family: "Segoe UI", sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0; 
}

body {
	min-height: 100vh; 
	max-height: 100vh; 
	width: 100%;
	height: 100%;  
	overflow-x: hidden; 
	margin: 0; 
}


h2 {
 	text-align: center; 
}
 
.container {
	height: 100vh; 
	background: #EA563C;
}

.content {
	height: 75vh;  
}

.wrapper {
		display: grid;
		grid-template-columns: 20% 60% 20%; 
		width: 100%; 
		height: 75vh; 
		margin-right: 200px; 

		
}
.color {
	background-color: white; 
	height: 75vh; 
}